/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
/*----------------------Main Colors------------------*/
:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-dark-purple: #713fc2;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-grey: #171717;
  --qwik-light-grey: #212121;
  --qwik-dark: #000000;
  --qwik-light: #ffffff;
}

body {
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
  background-color: var(--qwik-dark-grey);
  color:var(--qwik-light)
}

main {
  margin: 0 auto;
  background-color: var(--qwik-light-grey);
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--qwik-light-purple);
}
/*----------------- Pages -----------------*/
/*-----------------HomeCont-----------------*/
section {
  padding: 20px;
  border-bottom: 10px solid var(--qwik-dark-blue);
}
.dummyComp img{
  width: 300px;
  /*padding: 20px 0px 0px 130px;*/
  margin: 20px 0px 0px 90px;
}

a:visited {
  color: var(--qwik-dark-blue);
}

a:hover {
  text-decoration: none;
}

